[submodule "packages/nomad-FAIR"]
	path = packages/nomad-FAIR
	url = https://gitlab.mpcdf.mpg.de/nomad-lab/nomad-FAIR.git
[submodule "packages/events_form"]
	path = packages/events_form

[submodule "packages/nomad-training-resources"]
	path = packages/nomad-training-resources
	url = https://github.com/siamakn/nomad-training-resources.git
