[submodule "packages/nomad-FAIR"]
	path = packages/nomad-FAIR
	url = https://gitlab.mpcdf.mpg.de/nomad-lab/nomad-FAIR.git
[submodule "packages/nomad-parser-plugins-electronic"]
	path = packages/nomad-parser-plugins-electronic
	url = https://github.com/nomad-coe/electronic-parsers.git
[submodule "packages/nomad-measurements"]
	path = packages/nomad-measurements
[submodule "packages/events_form"]
	path = packages/events_form
[submodule "packages/nomad-material-processing"]
	path = packages/nomad-material-processing
